<div class="container">
  <form action="/" method="post">
    <p class="text-center mt-5 fs-1 fst-italic mx-auto border border-1 border-dark">誰想要聽幹話 ?</p>
    <div class="row row-cols-1 row-cols-md-4 g-4 card-interface mt-5 border border-1 border-success "
      id="card-interface">
      {{#each role}}
      <div class="col">
        <div class="card">
          <img src="{{this.image}}" class="card-img-top " alt="...">
          <div class="card-body border border-2 border-danger">
            <div class="form-check border border-2 border-success d-flex justify-content-center">
              <input class="form-check-input my-auto border border-2 border-dark" type="radio" name="role"
                id="{{this.name}}" {{#if tasker}} checked {{/if}} value="{{this.name}}">
              <label class="form-check-label border border-2 border-danger mx-2" for="{{this.name}}">
                <span class="badge bg-secondary rounded-pill border border-2 border-warning">{{this.name_cht}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
      <div class="generate-content border border-2 border-blue">
        <div class="row">
          <div class="col-3 border d-flex justify-content-end border-2 align-items-start border-dark">
            <button type="submit" class="btn btn-primary ml-5 mt-5" >產生幹話</button>
          </div>
          <div class="col-9 border border-2 border-danger">
            <div class="form-group">
              <label for="exampleTextarea" class="form-label mt-4">完美的幹話 !</label>
              <textarea class="form-control" id="exampleTextarea" rows="7">{{dryTalk}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Default checked radio
  </label>
</div>