<div class="container">
  <form action="/" method="post">
    <p class="text-center mt-5 fs-1 fst-italic mx-auto ">想聽哪一位的幹話 ?</p>
    <div class="row row-cols-1 row-cols-md-4 g-4 card-interface mt-5 "
      id="card-interface">
      {{#each role}}
      <div class="col">
        <div class="card">
          <img src="{{this.image}}" class="card-img-top " alt="...">
          <div class="card-body">
            <div class="form-check d-flex justify-content-center">
              <input class="form-check-input my-auto" type="radio" name="role"
                id="{{this.name}}" 
                {{#is this.name ../tasker}} checked {{/is}}
                value="{{this.name}}">
              <label class="form-check-label r mx-2" for="{{this.name}}">
                <span class="badge bg-secondary rounded-pill fs-5q">{{this.name_cht}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="generate-content">
      <div class="row">
        <div class="col-3 d-flex justify-content-end align-items-start ">
          <button type="submit" class="btn btn-primary ml-5 mt-5">產生幹話</button>
        </div>
        <div class="col-9 ">
          <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">
              {{#is disMessage.message 'error'}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong class="text-dark">{{disMessage.hint}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {{/is}}
              {{#is disMessage.message 'success'}}
              <div class="alert alert-success" role="alert">
                <strong>{{disMessage.hint}}</strong>
              </div>
              {{/is}}
            </label>
            <textarea class="form-control" id="exampleTextarea" rows="4">{{dryTalk}}</textarea>
          </div>
        </div>
      </div>
    </div>
</div>
  </form>
</div>